body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 10%;
  }
  

h1 {
  text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
  }

.container {
  border: 3px solid #333;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

.color-container {
    display: inline-block;
    width: 100%;
  }

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
  }

.text-panel {
    text-align: center;
    margin: 20px auto;
    width: 300px;
  }


.blue {
    background-color: blue;
    color: white;
    font-weight: bold;
  }



.red {
    background-color: red;
    color: white;
    font-weight: bold;
  }

.green {
    background-color: green;
    color: white;
    font-weight: bold;
  }

.yellow {
    background-color: yellow;
    color: black;
    font-weight: bold;
  }

.purple {
    background-color: purple;
    color: white;
    font-weight: bold;
  }

.orange {
    background-color: orange;
    color: white;
    font-weight: bold;
  }

.font-container {
    display: inline;
  }

.font-panel {
    width: 30%;
    margin-left: 18px;
    margin-right: 18px;
    display: inline-block;
    border: 2px solid #333;
    text-align: center;
  }

.font-label {
    text-decoration: underline;
    font-weight: bold;
    font-size: 28px;
    height: 30px;
  }

.impact-font {
    font-family: Impact, Charcoal, sans-serif;
  }

.arial-font {
    font-family: Arial, sans-serif;
  }

.playwrite-font {
    font-family: 'Playwrite', sans-serif;
  }

.regular {
    font-style: normal;
  }

.italic {
    font-style: italic;
  }

.bold {
    font-weight: bold;
  }

  .text-panel h1 {
    text-decoration: none;
    font-weight: 700;
    font-size: 32px;
    font-family: 'Nunito Sans', sans-serif;
  }


  .text-panel h2 {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
  }

  .text-panel p {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }

  li {
    text-align: left;
  }